@import url('https://fonts.googleapis.com/css2?family=Genos:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Genos:wght@300&family=Inter:wght@200&display=swap');
@import url('https://fonts.cdnfonts.com/css/geneva');

html {
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    background-color: #39563F;
}

li, a, button{
    color: #FFF;
    text-decoration: none;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 13%;
    /* position: fixed; */

}

.logo{
    color: #FFF;
    font-family: Genos;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
}

.nav-ul{
    list-style: none;
}

.nav-ul li{
    display: inline;
    padding: 0px 20px;

    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.nav-ul li a{
    transition: all 0.3s ease 0s;
}

.nav-ul li a:hover{
    color: rgb(187, 144, 92);
}

.nav-button{
    border: none;
    background-color: #162318;
    padding: 9px 25px;
    border-radius: 50px;

    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.nav-button:hover{
    color: rgb(187, 144, 92);
}



.first-page{
    display: flex;
    margin: 100px 0px;
    height: 580px;
    background-color: #39563F;
}



.first-page-left{
    width: 50%;
    padding: 0px 40px;
    padding-left: 90px;
}

.first-page-left h1{
    color: #C3AA67;
    font-family: Geneva;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 72px;
}

.first-page-left p{
    color: #FFF;
    font-family: Geneva;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 202.35%;
    width: 65%;
    line-height: 2.2em;
    word-spacing: 4px;
}
.first-page-right{
    width: 50%;
    padding-bottom: 140px;
}

.first-page-right img{
    height: auto;
    border-radius: 800px;
    /* border: 0px solid #000; */
    background: #C3AA67;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 580px;
    height: 580px;
    border-radius: 50%;   
}

.second-page{
    display: flex;
    margin: 100px 0px;
    width: 100%;
    height: 580px;
}

.second-page-left{
    background-color: #d1d1d1;
    padding: 100px;
    padding-left: 90px;
    /* width: 58%; */
    width: 100%;
}

.second-page-left h3{
    background-color: #d1d1d1;
    color:#39563F;
    font-family: Geneva;
    font-size: 120px;
}

.second-page-left h4{
    background-color: #d1d1d1;
    font-family: Geneva;
    font-weight:bold;
    font-size: 20px;
    margin: 12px 0px;
}

.second-page-left p{
    background-color: #d1d1d1;
    font-family: Geneva;
    width: 60%;
    margin-bottom: 12px;
    line-height: 150%;
}

.second-page-left button{
    border: none;
    cursor: pointer;
    width: 120px;
    height: 50px;
    border-radius: 120px;
}

.second-page-left button:hover{
    background-color: #d1d1d1;
    color: #39563F;
}

.thrid-page{
    margin: 100px 0px;
    width: 100%;
    height: 580px;
}

.thrid-page h3{
    font-family: Geneva;
    font-size: 90px;
    text-align: center;
    color: #FFF;
}

.thrid-page p{
    font-family: Geneva;
    color: #FFF;
    text-align: center;

}

.thridPageContainer{
    display: flex;
    height: 90%;
}

.thridPageContainer div{
    width: 25%;
    background-color: #d1d1d1;
    margin: 120px 25px;
    border-radius: 12px;

    display: block;
    margin-left: auto;
    margin-right: auto;
    border: none;
    
}

.thridPageContainer img{
    background-color: #d1d1d1;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    margin-top: 30px;
}

.thridPageContainer h4{
    text-align: center;
    margin: 12px 0px;
    background-color: #d1d1d1;
    color: rgb(26, 26, 26);
    font-family: Geneva;
    margin-top: 12%;
}

.thridPageContainer p{
    background-color: #d1d1d1;
    color: rgb(26, 26, 26);
    font-family: Geneva;
    margin-top: 20px;
}
